/* General Resets */
* {
  box-sizing: border-box;
  font-family: "Bebas Neue", sans-serif;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

/* Links */
a {
  text-decoration: none;
  color: black;
}

/* Headings */
h1, h2, h3, h4, h5 {
  margin: 0;
  padding: 0;
}

/* Containers */
.container {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  height: 100vh;
}

#map {
  height: 100%;
  width: 100%;
  position: relative;
}

/* Left Column */
.left {
  display: flex; 
  flex-direction: column;
}

.left > * {
  border: 2px solid black;
  display: flex; 
  flex-direction: column;
  flex-grow: 1;
  padding: 10px 0;
  font-size: 1rem;
}

.left * > * {
  padding: 5px 0;
  
}

.left ul {
  list-style-type: none;
  padding: 0;
}

.left p {
  border-top: 1px solid black;
  list-style-type: none;
  padding: 0 5px;
  display: flex;
  justify-content: space-between; 
}

/* Right Column */
.right {
  text-align: center;
  background-color: linen;  
  /* display: flex;
  flex-direction: column;
  height: 100%; */
} 

.right > * {
  border: 2px solid black;
  display: flex; 
  flex-direction: column;
  flex-grow: 1;
  align-items: flex-start;
  font-size: 1rem;
}

.right * > * {
  padding: 5px 0;
}

.right ul {
  list-style-type: none;
  padding: 0;
}

.right-list-owner {
  border-top: 1px solid black;
  list-style-type: none;
  padding: 5px 0;
  display: block;
  height: 30px;
  width: 20px;
}

/* Lists */
ul img {
  width: 15px;
  border-radius: 10px;
}

.near-stations-list {
  background-color: linen;  
  display: grid;
}

.near-stations-list p {
  padding: 0px 20px;
}

.near-stations-list li {
  border-top: 1px solid black;
  font-size: 1.15rem;
}

.near-stations-list img {
  display: inline;
  float: inline-start;
}

.near-stations-list h1 {
  font-size: 2rem;
}

/* Specific Components */
.date_temperature {
  padding: 10px 0;
  cursor: pointer;
  background-color: linen;  
  justify-content: center;
  align-items: center;
}

.stats {
  background-color: linen; 
  display: flex;
}

.about_left {
  text-align: center;
  background-color: #f7d8e1;
  padding: 0;
  margin: 0;
}
.about_right {
  text-align: center;
  background-color: #f7d8e1;
  padding: 0;
  margin: 0;
}
.about_right h2 {
  display: flex;
  align-self: center;
}

.about {
  background-color: #f7d8e1;
  display: flex;
  justify-content: center;
}

.about p {
  border-top: none;
  display: block;
}

.about a {
  padding: 35px 0px;
  font-size: 22px;
}

a img {
  height: 60%;
  width: 35%;
}

/* .about li {
  display: flex;
  justify-content: space-evenly;
} */

.right-list-name {
  display: inline;
}

.right-list-address {
  display: block;
}

.spotlight {
  border-bottom: 0;
  background-color: #f7d8e1;
  display: flex;
  justify-content: space-between;
}

.postcode {
  padding-left: 3px;
  border-top: 0;
  background-color: #f7d8e1;
}

.postcode li {
  padding: 5px;
  border: 1px solid gray;
  background-color: floralwhite;
  text-align: center;
  display: inline-block;
  border-radius: 3px;
  cursor: pointer;
}

.display_postcode {
  display: flex;
  gap: 20px;
}

.center-location {
  display: flex;
  justify-content: center;
  align-items: center;
  /* justify-items: stretch; */
  background-color: #f7d8e1;
  padding-bottom: 5px;
  border-bottom: 0;
}
.center-location h3 {
  padding-bottom: 0;
}

/* Miscellaneous */
.refresh {
  color: rgb(35, 95, 224);
  cursor: pointer;
  float: right;
  padding-right: 10px;
  padding-top: 0;
  position: relative;
}

.randomStation {
  display: flex;
  justify-content: center;
  font-size: larger;
}

.center-coords {
  font-size: 2rem;
}

.clock-display {
  font-size: 2rem;
}


.search_location {
  border-top: 0;
  background-color: #f7d8e1;
  font-size: 1.15rem;
  padding-left: 10px;
}

.title {
  background-color: linen; 
  display: flex;
  align-items: center;
}

.weather-display {
  font-size: 32px;
}